

<h1> UNIQUE CIGARRETE BRAND </h1>
<ul>
<li> Twisted Cig </li>
<li> White Claw </li>
<li> Cognac Cig </li>
<li> Edible Cig </li>
<li> Dragon Cig </li>
<li> Bird Cig</li>
<li> Water Cig </li>
<li> Dog Cig </li>
<li> Cat Cig </li>
<li> Monkey Cig</li>
<li> Tiger War </li>
<li> Human Centipede </li>
<li> Call of Duty </li>

</ul>

<ul>
    <li> <%= link_to 'See OUR UNIQUE Deals', deals_path %> </li>
</ul>

