
<h1> DEALS OF THE DAY </h1>
<ul>
<li> Single Packs: BUY ONE GET ONE HALF OFF </li>
<li> BUY TWO CARTONS GET $2 OFF </li>
<li> SINGLE TWISTED CIG $.50 </li>
<li> FIRST TIME CUSTOMER, CHOOSE 1 OF THE BRAND FOR FREE </li>
</ul>
<ul>
    <li><%= link_to 'Go back to our main page', name_path %></li>
</ul>