<h1> Unique Cigarrete Shop </h1>
<h2> DESCRIPTION</h2>
<h3> HI, WELCOME TO UNIQUE CIGARRETE SHOP WHERE YOU CAN FIND UNIQUE CIGARRETES THAT NO ONE HAS EVER SMOKED BEFORE.</h3>
<br> <br>
<h4> HOURS OF OPEATION: MONDAY: 10 AM - 9 PM  </h4>
<h4>MONDAY: 10 AM - 9 PM</h4>
<h4> TUESDAY: 10 AM - 9 PM  </h4>
<h4> WEDNESDAY: 10 AM - 9 PM  </h4>
<h4> THURSDAY: 10 AM - 9 PM  </h4>
<h4> FRIDAY: 10 AM - 9 PM  </h4>
<h4> SATURDAY: 10 AM - 8 PM  </h4>
<h4> SUNDAY: CLOSED! GOING TO THE CLUB! </h4>
<h4> Contact info: 1(215)-453-4544</h4>
<ul>
    <li> <%= link_to 'See the Brand', brandName_path %> </li>
</ul>